APP_ENV=local
APP_URL=http://localhost:8000

DB_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/tn_mvp

TN_CLIENT_ID=123
TN_CLIENT_SECRET=xxxxx

TN_OAUTH_BASE=https://www.tiendanube.com
TN_API_BASE=https://api.tiendanube.com/2025-03

# optional
REDIS_URL=redis://localhost:6379/0


ADMIN_USERNAME=admin
ADMIN_PASSWORD=
JWT_SECRET=
JWT_EXPIRES_SECONDS=604800

TOKEN_ENCRYPTION_KEY=

OAUTH_STATE_SECRET=